@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  background-color: black;

}

.imgMobile{
  display: block;
  margin: 0 auto;
}

.game-board{
  display: none
}
