@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.mobile {
  display: block;
}

.imgMobile {
  display: block;
  margin: 0 auto;
}


.game-board {
  display: none;
}

.backGame{
  display: none;
}
